server:
  port: 8080

spring:
  application:
    name: Todo Application

  datasource:
    url: jdbc:h2:mem:tododb
    driver-class-name: org.h2.Driver
    username:
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.example.demo: DEBUG
    org.springframework.web: INFO